/* src/components/Header.css */
.App-header {
    background-color: #8093f1; /* Primary color for the header */
    color: #fff; /* Text color */
    display: flex;
    justify-content: center; /* Center navigation items */
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
  }
  
  .App-header .logo {
    flex: 1; /* Ensure logo is on the left */
  }
  
  .App-header .logo h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff; /* Logo text color */
  }
  
  .App-header nav {
    flex: 2; /* Center navigation items */
    display: flex;
    justify-content: center;
  }
  
  .App-header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .App-header nav ul li {
    margin: 0 25px;
  }
  
  .App-header nav ul li a {
    color: #fff; /* Nav link color */
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
  }
  
  .App-header nav ul li a:hover {
    color: #f1c40f; /* Hover color for links */
  }
  