/* App.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
  overflow-y: hidden;
}

.App-header {
  flex: 1; /* Grow to take up space */
}

.App-content {
  flex: 1; /* Grow to take up space */
}

.App-footer {
  background-color: #b388eb; /* Light lavender for footer */
  padding: 10px;
  text-align: center;
  color: #414042; /* Dark gray for text */
  width: 100%;
}
