.App {
  text-align: center;
  background-color: #f7aef8; /* Light purple background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
